<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iephdevs.androidbarcodegenerator">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scanner"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CameraHandlerThread"/>
        <activity
            android:name=".CameraPreview"/>
        <activity
            android:name=".CameraUtils"/>
        <activity
            android:name=".CameraWrapper"/>
        <activity
            android:name=".IViewFinder"/>
        <activity
            android:name=".ViewFinderView"/>
        <activity
            android:name=".ScannerView"/>
    </application>

</manifest>